.vidPlayPage {
    display: flex;
    justify-content:space-evenly;
    margin: 100px;
}
.vidNComments {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vidPlayWindow {
    width: 800px;
    /* height: 500px;
    background-color: grey; */
}
.vidDescription {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 800px;
    min-height: 50px;
    border-bottom: 1px solid #f1f1f1;
}
.collectIcon {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.collectIcon img {
    margin-right: 5px;
    cursor: pointer;
}
.commentsArea {
    width: 760px;
    margin: 20px auto;
    font-size: 14px;
    background-color: white;
    border: 1px solid #f1f1f1;
    padding: 20px;
}
.vidsList {
    width: 300px;
    height: 550px;
    background-color: rgb(164, 197, 143);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.vidsList video {
    margin: 10px;
}

